.map-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {

        path {
            fill: black;
            transition: .4s;
        }

        path:hover {
            fill: red;
            transition: .4s;
        }
    }
}